
html{
    font-size: 62.5%; 
    /* now 1 rem = 10px */
}
@media (max-width:998px){

    html{
        font-size: 55%;
    }

}
@media (max-width:768px){

    html{
        font-size: 45%;
    }

}

html, body{
    overflow: visible;
    overflow-x: hidden;
}

/* index page */
.header
{
    margin-top: 30px;
}
.logo
{
    padding-top: 9px;
}
.fa-envelope{
    font-size: 3rem;
    color: rgb(68, 234, 234);
}
.fa-phone{

    font-size: 3rem;
    color: rgb(68, 234, 234);
}
.btnAppointment{
    width: 15rem;
    height: 4rem;
    border-radius: 6rem;
    background-color: rgb(169, 147, 50);
    border: none;
    font-size: 1.3rem;
}
.mail{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.search{
    padding-bottom: 10px;
}
/* .EmialInfo,.phoneInfo{
    border-left: 2px solid black;
} */


/* NAV BAR */
.navbar{
    background-color: rgba(98, 139, 183, 0.921);
}
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}
.navbar-nav li h5{
  color: white;
  margin-left: 3rem;
  font-size: 1.3rem;
}
.Social_Icons{
    display      : flex;
    /* margin-bottom: 5.0rem; */
    justify-content: center;
    list-style: none;
    align-items: center;
    /* margin-top: 3.0px; */
    margin-top: .4rem;
    margin-right: 9rem;
    
    
}

.fa{
    color           : white;
    border-radius   : 9rem;
    padding         : 1.1rem;
    font-size       : 2rem;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #88aeed;
    margin-right: 3.1rem;
}
/*
 index page */

 /* BANNER */
 .leftBanner{
     background-image: url("/images/leftBanner.png");
     height: 65rem;
 }
 .rightBanner{
     background-image: url("/images/RightBanner.png");
 }
.bannerContent{
    margin-left: 16rem;
    margin-top: 16rem;
}
.h1SmallHeading{
    font-size: 6rem;
    line-height: 9px;
    font-family: 'Berkshire Swash', cursive;
    font-weight: bolder;

}
.h1BigandBold{
    font-size: 11rem;
    /* font-weight: bolder; */
    font-family: 'Bitter', serif;
/* font-family: 'Lobster', cursive; */
}
.bannerContent h4{
    font-size: 2rem;
    color: gray;
}
.bannerContent h5{
    font-size: 2rem;
    color: gray;
    line-height: 17px;
}
.services{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.servicesBlocks{
    margin-left: 6rem;
    display: flex;
    align-items: center;
    height: 9rem;
    
}
#service01{

    border: 2px dashed blue;
    background-color: rgb(233, 233, 248);
    
    display: flex;
    justify-content: center;
    align-items: center;

}
#service02{
    border: 2px dashed rgb(151, 132, 37);
    background-color: rgb(243, 233, 184);
    display: flex;
    justify-content: center;
    align-items: center;

}
#service03{
    border: 2px dashed rgb(167, 161, 161);
    background-color: rgb(224, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;}

    .serviceInbox{
        display: flex;
        justify-content: center;
        align-items: center;
    }

 /* BANNER */